# Sarcasm Detection
 **Acknowledgement**

Misra, Rishabh, and Prahal Arora. "Sarcasm Detection using Hybrid Neural Network." arXiv preprint arXiv:1908.07414 (2019).

**Required Files given in below link.**

https://drive.google.com/drive/folders/1xUnF35naPGU63xwRDVGc-DkZ3M8V5mMk

## Install `Tensorflow2.0`

In [0]:
!!pip uninstall tensorflow
!pip install tensorflow==2.0.0

## Get Required Files from Drive

In [0]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [0]:
#Set your project path 
project_path =  ## Add your path here ##

#**## Reading and Exploring Data**

## Read Data "Sarcasm_Headlines_Dataset.json". Explore the data and get  some insights about the data. ( 4 marks)
Hint - As its in json format you need to use pandas.read_json function. Give paraemeter lines = True.

In [117]:
import pandas as pd

df = pd.read_json("Sarcasm_Headlines_Dataset.json", lines=True)

In [118]:
df.shape

(26709, 3)

In [119]:
df.dtypes

article_link    object
headline        object
is_sarcastic     int64
dtype: object

In [120]:
(df.isna() == True).sum()

article_link    0
headline        0
is_sarcastic    0
dtype: int64

In [121]:
df["headline"][1]                         # looks like all the text is already in lower case

"the 'roseanne' revival catches up to our thorny political mood, for better and worse"

In [122]:
df.head(10)

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0
5,https://www.huffingtonpost.com/entry/advancing...,advancing the world's women,0
6,https://www.huffingtonpost.com/entry/how-meat-...,the fascinating case for eating lab-grown meat,0
7,https://www.huffingtonpost.com/entry/boxed-col...,"this ceo will send your kids to school, if you...",0
8,https://politics.theonion.com/top-snake-handle...,top snake handler leaves sinking huckabee camp...,1
9,https://www.huffingtonpost.com/entry/fridays-m...,friday's morning email: inside trump's presser...,0

## Drop `article_link` from dataset. ( 2 marks)
As we only need headline text data and is_sarcastic column for this project. We can drop artical link column here.

In [123]:
df.drop(columns="article_link", inplace=True)

In [124]:
df.head()

                                            headline  is_sarcastic
0  former versace store clerk sues over secret 'b...             0
1  the 'roseanne' revival catches up to our thorn...             0
2  mom starting to fear son's web series closest ...             1
3  boehner just wants wife to listen, not come up...             1
4  j.k. rowling wishes snape happy birthday in th...             0

## Get the Length of each line and find the maximum length. ( 4 marks)
As different lines are of different length. We need to pad the our sequences using the max length.

In [125]:
max_line_len = max([len(line) for line in df["headline"]])

In [126]:
print("Maximum length : ", max_line_len)

Maximum length :  254

### ** Modelling**

## Import required modules required for modelling.

In [127]:
import numpy as np
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.layers import Dense, Input, LSTM, Embedding, Dropout, Activation, Flatten, Bidirectional, GlobalMaxPool1D
from tensorflow.keras.models import Model, Sequential

# Set Different Parameters for the model. ( 2 marks)

In [128]:
max_features = 10000
maxlen = max_line_len ## Add your max length here ##
embedding_size = 200

## Apply Keras Tokenizer on headline column of your data.  ( 4 marks)
Hint - First create a tokenizer instance using Tokenizer(num_words=max_features) 
And then fit this tokenizer instance on your data column df['headline'] using .fit_on_texts()

In [129]:
tokenizer = Tokenizer(num_words=max_features)
tokenizer.fit_on_texts(df['headline'])

# Define X and y for your model.

In [84]:
X = tokenizer.texts_to_sequences(df['headline'])
X = pad_sequences(X, maxlen = maxlen)
y = np.asarray(df['is_sarcastic'])

print("Number of Samples:", len(X))
print(X[0])
print("Number of Labels: ", len(y))
print(y[0])

Number of Samples: 26709
[   0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0  307  678 3336 2297   47  381 2575    5
 2576 8433]
Number of Labels:  26709
0

## Get the Vocabulary size ( 2 marks)
Hint : You can use tokenizer.word_index.

In [85]:
word_index_dict = tokenizer.word_index

In [86]:
uniqueValues = set(word_index_dict.keys())

In [87]:
print(len(uniqueValues))

29656

In [88]:
len(word_index)

29656

In [89]:
vocab_size = len(word_index_dict) + 1
print("Vocabulary size: ", vocab_size)

Vocabulary size:  29657

#**## Word Embedding**

## Get Glove Word Embeddings

In [90]:
glove_file = "glove.6B.zip"

In [91]:
#Extract Glove embedding zip file
from zipfile import ZipFile
with ZipFile(glove_file, 'r') as z:
  z.extractall()

# Get the Word Embeddings using Embedding file as given below.

In [93]:
EMBEDDING_FILE = './glove.6B.200d.txt'



embeddings = {}
for o in open(EMBEDDING_FILE, encoding="utf8"):
    word = o.split(" ")[0]
    #print(word)
    embd = o.split(" ")[1:]
    embd = np.asarray(embd, dtype='float32')
    #print(embd)
    embeddings[word] = embd

# Create a weight matrix for words in training docs

In [97]:
num_words = vocab_size
embedding_matrix = np.zeros((num_words, 200))

for word, i in tokenizer.word_index.items():
    embedding_vector = embeddings.get(word)
    if embedding_vector is not None:
        embedding_matrix[i] = embedding_vector

len(embeddings.values())

400000

## Create and Compile your Model  ( 7 marks)
Hint - Use Sequential model instance and then add Embedding layer, Bidirectional(LSTM) layer, then dense and dropout layers as required. 
In the end add a final dense layer with sigmoid activation for binary classification.

In [100]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input, Flatten, Embedding, Dropout, Bidirectional, TimeDistributed, LSTM
from tensorflow.keras.preprocessing import sequence
from tensorflow.keras.models import Model

In [109]:


model = Sequential()
# Embedding layer for hint 
model.add(Embedding(num_words, embedding_size, weights = [embedding_matrix]))
# Bidirectional LSTM layer for hint 
model.add(Bidirectional(LSTM(128, return_sequences = True)))

model.add(Dense(50, activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(1, activation='sigmoid'))

In [110]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_3 (Embedding)      (None, None, 200)         5931400
_________________________________________________________________
bidirectional_3 (Bidirection (None, None, 256)         336896
_________________________________________________________________
dense_2 (Dense)              (None, None, 50)          12850
_________________________________________________________________
dropout_1 (Dropout)          (None, None, 50)          0
_________________________________________________________________
dense_3 (Dense)              (None, None, 1)           51
=================================================================
Total params: 6,281,197
Trainable params: 6,281,197
Non-trainable params: 0
_________________________________________________________________

In [111]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Fit your model with a batch size of 100 and validation_split = 0.2. and state the validation accuracy ( 5 marks)

In [112]:
batch_size = 100
epochs = 5

## Add your code here ##
result = model.fit(X, y, validation_split=0.2, batch_size=batch_size, epochs=epochs, verbose=1)

Train on 21367 samples, validate on 5342 samples
Epoch 1/5
21367/21367 [==============================] - 2726s 128ms/sample - loss: 0.6623 - accuracy: 0.6017 - val_loss: 0.6729 - val_accuracy: 0.5778
Epoch 2/5
21367/21367 [==============================] - 13646s 639ms/sample - loss: 0.6263 - accuracy: 0.6358 - val_loss: 0.5440 - val_accuracy: 0.7126
Epoch 3/5
21367/21367 [==============================] - 8100s 379ms/sample - loss: 0.6179 - accuracy: 0.6363 - val_loss: 0.6709 - val_accuracy: 0.5821
Epoch 4/5
21367/21367 [==============================] - 2701s 126ms/sample - loss: 0.6079 - accuracy: 0.6622 - val_loss: 0.5318 - val_accuracy: 0.7772
Epoch 5/5
21367/21367 [==============================] - 2790s 131ms/sample - loss: 0.5625 - accuracy: 0.6887 - val_loss: 0.6741 - val_accuracy: 0.5777

In [114]:
result.history

{'loss': [0.6623332362625335,
  0.6263462201380823,
  0.6179288170013753,
  0.6078990039634856,
  0.5624519508148426],
 'accuracy': [0.6016747, 0.6357673, 0.63625896, 0.66220015, 0.68874764],
 'val_loss': [0.6729489916141271,
  0.5440099827139085,
  0.6709146499633789,
  0.5317694507413748,
  0.6740888019082967],
 'val_accuracy': [0.57783085, 0.7125654, 0.58214957, 0.77723783, 0.5777084]}

In [116]:
print("Validation Accuracy is : ", np.mean(result.history["val_accuracy"]))

Validation Accuracy is :  0.6454984

In [4]:
s = 'outlookæ‰“ä¸\x8då¼€æ‰“å¼€outlookæ—¶ï¼Œæ˜¾ç¤ºoutlook.ostæ–‡ä»¶é”™è¯¯ï¼Œç¨‹åº\x8fè‡ªåŠ¨å…³é—\xadã€‚'
s.isalnum()

False

In [6]:
s.replace(/[^a-zA-Z0-9]/g, '-')

SyntaxError: invalid syntax (<ipython-input-6-79a846f3a814>, line 1)